extends ./layout

mixin LogoContainer
	a.logo.clearfix(href=URL('/'))
		span.brand A
			span js
		span.desc Albi
			span.dot .
			span js


block bodyContainer
	include ./nav
	.homePage.pageContentContainer
		a.forkmeContainer.lazyLoadImage(href='https://github.com/vicanso/albi', data-src=IMG_URL('/img/forkme.png'))
		.logoContainer
			+LogoContainer
		
		section.description
			h3 Easy web framewrok for Node.js, based on koa 2.x
		
		- var navigation = viewData.navigation;
		if navigation
			section.components: ul
				each item in navigation.items
					li: a(href=URL('/doc' + item.url)) #{item.name}

		section.introduction
			p Albi是基于koa 2.x来实现的，只是将一些常用的middleware整合，以及添加了一些常用的功能模块，包括：http请求性能的统计、日志的记录、连接数限制、静态文件的处理以及简单的路由配置实现。Albi仅仅是方便平时开发新的web站点的时候使用，并没有创造，只是组合与优化。
		
		section.appCodeContainer
			pre
				code.hljs !{viewData.expressDemo}

	