mixin Components(items, baseUrl, selectedUrl)
	ul
		each item in items
			- var url = URL(baseUrl + item.url);
			li(class='#{selectedUrl === url? "selected" : ""}')
				a(href='#{url}', title='#{item.name}', ng-click='navCtrl.selected("#{url}", $event)') #{item.name}
				if item.children
					+Components(item.children, url, selectedUrl)


nav.navContainer(ng-controller='NavController as navCtrl')
	a.text-center.logo(href=URL('/'), title='Albi')
		| Albi
	- var navigation = viewData.navigation;
	if navigation
		+Components(navigation.items, '/doc', navigation.selected)

