mixin Components(items, baseUrl, selectedUrl)
	ul
		each item in items
			- var url = baseUrl + item.url;
			li(class='#{selectedUrl === url? "selected" : ""}')
				a(href='#{URL(url)}', title='#{item.name}') #{item.name}
				if item.children
					+Components(item.children, baseUrl + item.url, selectedUrl)


a#navLink(href='javascript:;') M

nav.navContainer
	a.text-center.logo(href=URL('/'), title='Albi')
		| Albi
	- var navigation = viewData.navigation;
	if navigation
		+Components(navigation.items, '/doc', navigation.selected)


